.App {
  text-align: center;
  margin: 0;
  background-color: #282c34;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


/* -------------- ACCOUNT  */

.userInfo{
  margin: 6rem;
  margin-top: 8rem;
  display: flex;
  height: 500px;
  background-color: #596274;
}
.userInfo div, h4, p{
  padding: 30px;
}

.account button{
  width:120px;
  padding: 10px;
  margin: 15px;
  background-color: rgba(16, 33, 80, 0.614);
  color: white;
  font-size: medium;
  border: 1px solid black;
  border-radius: 5px;
}
.account{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fakeNav{
  display: flex;
  position: fixed;
  font-size: medium;
  width: 100%;
  padding: 10px;
  background-color: rgba(16, 33, 80);
  max-height: 5rem;
  text-align: center;
}
.fakeNav h1{
  font-size: xx-large;
  padding: 10px;
  color: black;
}
.fakeNav ul{
  list-style: none;
  padding: 0;
}
.fakeNav li{
  display: flex;
  flex-direction: column;
  padding: 20px;
  float: right;
}
.fakeNav a{
  color: white;
  text-decoration: none;
}


/* -------------------------------- */



.cellInput{
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0;
  border: 1px, solid, black;
  color: black;
}

table{
  border-collapse: collapse;
  border: 3px solid slategrey;
  background-color: #727e98;
}

td{
  padding: 0;
}

.bBorder {
  border-bottom: 3px solid black;
}
.rBorder{
  border-right: 3px solid black;
}



.nav{
  display: flex;
  position: fixed;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: rgba(16, 33, 80);
  max-height: 5rem;
}
.nav h1{
  font-size: xx-large;
  padding: 10px;
}
.nav ul{
  list-style: none;
  padding: 0;
}
.nav li{
  display: inline;
  padding: 20px;
  float: right;
}
.nav a{
  color: white;
  text-decoration: none;
}





/* ------------------ LOGIN */

.login{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


 .login a{
  color: white;
  margin: 10px;
}
.login input{
  height: 35px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px, solid, black;
  color: black;
  
}


.login button{
  width: 100px;
  border: #727e98 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: rgba(93, 45, 196, 0.364);
}

.loginForm{
  display: flex;
  flex-direction: column;
}

 /*------------  SIGN UP */

.signup{
  margin: 0;
  background-color: #282c34;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.signup a{
  color: white;
  margin: 10px;
}
.signup input{
  height: 35px;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border: 1px, solid, black;
  color: black;
}
.signup button{
  width: 100px;
  border: #727e98 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: rgba(93, 45, 196, 0.364);
}

.signInForm{
  display: flex;
  flex-direction: column;
}


.bBorder{
  border-bottom: 2px solid black;
}

.rBorder {
  border-right: 2px solid black;
}

.buttonContainer button{
  width:120px;
  padding: 12px;
  margin: 15px;
  background-color: rgba(16, 33, 80, 0.614);
  color: white;
  font-size: medium;
  border: 1px solid black;
  border-radius: 5px;
}

.buttonContainer button:nth-child(even){
  background-color: rgba(25, 70, 128, 0.705);
}